@import "tailwindcss";

/* Link click animations */
.link-animate {
  @apply transition-all duration-150 ease-in-out;
  transform-origin: center;
}

.link-animate:active {
  @apply scale-95;
  filter: brightness(0.9);
}

.link-animate:hover {
  @apply scale-105;
}

/* Ripple effect for links */
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(59, 130, 246, 0.3);
  transform: translate(-50%, -50%);
  transition: width 0.6s, height 0.6s;
}

.ripple:active::before {
  width: 300px;
  height: 300px;
}