---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="About Me">
    <h1 class="text-4xl font-bold mb-6">About Me</h1>
    <p class="text-gray-300 leading-7 mb-4">
    Write your bio, background, education, and work experience here.
    </p>
</BaseLayout>